@layer components {
    
    .loading-indicator {
        @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
        @apply bg-white bg-opacity-80 p-5 rounded-md shadow-md;
        @apply z-50;
     }

    .delay-100 { animation-delay: 100ms; }
    .delay-200 { animation-delay: 200ms; }
    .delay-300 { animation-delay: 300ms; }
    .delay-400 { animation-delay: 400ms; }

    .animate-slide-in {
        @apply opacity-0;
        animation: slideInUp 0.5s ease-out forwards;
    }

    .animate-slide-in-right {
        @apply opacity-0;
        animation: slideInRight 0.5s ease-out forwards;
    }

    .animate-fade-in {
        @apply opacity-0;
        animation: fadeIn 0.5s ease-out forwards;
    }

    @keyframes slideInUp {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
 
    @keyframes slideInRight {
        from {
            opacity: 0;
            transform: translateX(-20px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
 
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes slideIn {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}